
.env
kenv/

__pycache__/
*.pyc
*.sqlite3
/backend/media/
/backend/staticfiles/
api/__pycache__/
backend/__pycache__/
faiss_index_schemes/
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env

.DS_Store
*.log