django
djangorestframework
djangorestframework-simplejwt
gunicorn
psycopg2-binary
django-cors-headers
django-extensions
python-dotenv
dj-database-url

tensorflow-cpu
Pillow
google-generativeai
google-api-python-client
langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-google-genai>=1.0.0
langchain-huggingface>=0.0.3
faiss-cpu
sentence-transformers

requests

